<mat-toolbar color="primary">
  <span>Animal App</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menuLang">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #menuLang="matMenu">
    <button mat-menu-item (click)="setLang('en')">Anglais</button>
    <button mat-menu-item (click)="setLang('fr')">Francais</button>
  </mat-menu>
</mat-toolbar>

<nav mat-tab-nav-bar>
  <a
    *ngFor="let link of links"
    [routerLink]="link.path"
    mat-tab-link
    routerLinkActive
    #rla="routerLinkActive"
    [routerLinkActiveOptions]="{ exact: link.exact }"
    [active]="rla.isActive"
  >
    {{ link.label }}
  </a>
</nav>

<router-outlet></router-outlet>
