<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" position="end">
    <router-outlet></router-outlet>
  </mat-drawer>

  <div>
    <mat-nav-list>
      <div mat-subheader>Animaux</div>
      <a
        mat-list-item
        *ngFor="let a of animals"
        [routerLink]="[a.id]"
        (click)="drawer.open()"
      >
        <mat-icon mat-list-icon>pets</mat-icon>
        <div mat-line>{{ a.name }}</div>
        <div mat-line>{{ a.commentaire | truncate: 30 }}</div>
      </a>
    </mat-nav-list>
  </div>
</mat-drawer-container>

<a
  class="add-btn"
  mat-fab
  color="primary"
  routerLink="form"
  (click)="drawer.open()"
>
  <mat-icon>add</mat-icon>
</a>
